/*imports*/

@import "fonts"
@import "normalize"

/*Colores*/

naranja = #e0611a
azul = #33b2c1
verde = #61b174
rojo = #b16161
azul-fuerte = #34495e
azul-c = #3a383d
verde-c = #436651
rojo-c = #664343
gris = #8a9094
gris-c = #919191
gris-f = #38373c
azul-hover = #2c3e50
verde-exito = #2ecc71
rojo-error = #e74c3c

/*Funciones*/

border-radius(n)
	-moz-border-radius n
	-ms-border-radius n
	-o-border-radius n
	border-radius n

column(n, m)
	-moz-column-count n
	-webkit-column-count n
	column-count n
	-moz-column-gap m
	-webkit-column-gap m
	column-gap m

/*Scrollbar y seleccion*/

::selection
	background #d8ecea

::-moz-selection
	background #d8ecea

::-webkit-scrollbar
	width 8px
	background #ecf0f1
	-webkit-border-radius 15px
	border-radius 15px

::-webkit-scrollbar-track
	-webkit-border-radius 15px
	border-radius 15px
	background #ecf0f1

::-webkit-scrollbar-thumb
	-webkit-border-radius 15px
	border-radius 15px
	background rgba(52, 152, 219,0.7)
	&:hover
		background rgba(52, 152, 219,1)

::-webkit-scrollbar-thumb:window-inactive
	background rgba(189,195,199,0.3)

/*CSS*/


html
	font-family 'Lato', sans-serif
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-smoothing antialiased
	max-width 100%

body
	font-size 16px
	overflow-x hidden

a
	text-decoration none
	color azul
	font-weight bold
	transition 0.3s
	&:hover
		color azul-fuerte
	&.inicio
		color azul
		&:hover
			color naranja
	.title
		display inline-block

figure
	margin 0
	padding 0

header
	background-color azul-fuerte
	margin 0
	min-height 4rem
	padding 0
	text-align center
	position relative

h1
	font-family 'Montserrat', sans-serif
	strong
		font-size bold

h2
	font-family 'Montserrat', sans-serif

//landing

section
	text-align center
	&.home
		display block
		background azul-fuerte url(../img/bg.png) center left
		background-size auto 100%
	
.section-class
	display block
	
footer
	display block
	background azul-fuerte url(../img/bg.png) center left
	color white
	text-align center	
	padding 1.5rem
	vertical-align top
	
.fixed-header
	position fixed
	top 0
	left 0
	right 0
	z-index 1

.titulo
	color white
	font-size 2.5rem
	font-weight normal
	display inline-block
	margin .5rem 0 0 0
	padding 0

.max
	max-width 100rem
	display inline-block
	margin 0
	padding 0
	text-align left
	position relative

.logo
	width 2.5rem
	height auto
	display inline-block

.max-container
	@extend .max
	text-align center
	padding 4rem 0

.login-form
	display inline-block
	margin 0
	padding 0

.img-avatar
	width 2.5rem
	height 2.5rem
	display inline-block
	border-radius(50%)
	border 2px solid azul
	box-sizing border-box
	margin 0 .5rem

.nombre-avatar
	color white
	font-family 'Lato', sans-serif
	&:hover
		color azul

.elemento-info
	vertical-align middle	

.info
	display inline-block
	color white
	margin 0
	padding 0
	float right
	position relative
	margin-top .7rem

.flecha-abajo
	width 0;
	height 0;
	border-left 5px solid transparent;
	border-right 5px solid transparent;
	border-top 5px solid white;
	display inline-block
	top -.15rem
	position relative
	cursor pointer
	margin-left .2rem

.menu
	top 1.7rem
	z-index 666
	height 6rem
	padding .5rem 0
	position absolute
	border-radius(5px)
	background-color white
	display none
	right 0

.buscar
	display inline-block
	border-radius(10px)
	border none
	height 1.6rem
	padding .3rem .7rem .3rem 2.5rem
	font-weight normal
	color gray
	width 20rem
	position relative
	&:focus
		outline none
		
.icono-buscar
	display block
	vertical-align middle
	color gris-c
	position absolute
	top 7px
	left 13px
	z-index 3
	font-size 1.2rem
	
.busqueda
	display inline-block
	vertical-align middle
	margin -.7rem 0 .5rem 10%
	position relative

.rotate
	transform rotate(180deg)

.item-link
	padding .3rem .6rem
	display block
	color azul-hover
	background-color white
	transition 0.1s
	&:hover
		color white
		background-color azul

.input-login
	display inline-block
	border none
	border-radius(5px)
	height 1.6rem
	padding .3rem .7rem
	font-weight normal
	color gray
	&:focus
		outline none

.boton
	display inline-block
	border none
	border-radius(5px)
	color white
	background-color azul
	padding .5rem 1.2rem
	transition 0.3s
	&:hover
		background-color azul-hover

.boton-login
	@extend .boton
	display none
	padding .35rem 1.2rem

.texto-inicio
	max-width 33rem
	text-align left
	display inline-block
	margin-top 5rem
	font-weight normal
	color white
	margin-right 2rem
	
.titulo-seccion
	text-align center
	display inline-block
	margin 0
	font-weight normal
	color white
	
.form-registro
	display inline-block
	text-align left
	vertical-align top
	margin-left 2rem
	margin-top 2rem

.form-perfil
	@extend .form-registro

.form-section
	display inline-block
	vertical-align top
	text-align left

.form-inline
	display inline-block
	text-align left

.back-error
	color naranja
	display block
	font-size .9rem

.back-login-error
	font-size .9rem
	display inline-block
	border-radius(6px)
	color white
	background-color naranja
	padding .3rem

.registro-exitoso
	display block
	background-color verde-exito
	color white
	margin 0
	padding .5rem 0
	text-align center
	font-size 1.1rem
	
.error-v
	@extend .registro-exitoso
	background-color rojo-error
	
.mensaje-f
	transition 1s

.block
	display block
	
.gris
	color gris

textarea
	&.input-registro
		height 10rem
		padding-top .7rem

.input-registro
	display block
	border-radius(5px)
	padding .35rem 1.2rem
	border none
	margin .5rem 0
	height 1.7rem
	width 16rem
	color gray
	&:focus
		outline none


.combo-registro
	@extend .input-registro
	display inline-block
	width auto
	padding 0
	height 2rem
	margin-bottom 0
	&:nth-child(3)
		width 4.4rem
	&:nth-child(4)
		width 3.5rem
	&:nth-child(5)
		width 3.5rem

.combo-perfil
	@extend .input-registro
	width 18.4rem
	padding 0 1.2rem
	height 2.3rem

.combo-genero
	@extend .input-registro
	display inline-block
	width auto
	padding 0
	height 2rem
	margin-bottom 0
	width 6.1rem

.texto-form
	color white

.select-form
	margin 0

.boton-registro
	@extend .boton
	display block
	width 18.6rem
	padding .7rem 0
	
.boton-guardar
	@extend .boton-registro
	padding .9rem 0
	margin 2rem 0
	display inline-block

.terms-container
	color white
	position relative
	margin .7rem .5rem .7rem 0
	display inline-block

.terms-container2
	@extend .terms-container
	margin-bottom 0

label
	cursor pointer
	padding-left 35px
	span
		display block
		position absolute
		left 0
		transition-duration 0.3s
	.box
		top -1px
		border 2px solid white
		height 15px
		width 15px
		z-index 666
		transition-delay 0.2s
	.check
		top -7px
		left 6px
		width 9px
		height 21px
		border 2px solid verde
		border-top none
		border-left none
		opacity 0
		z-index 666
		transform rotate(180deg)
		transition-delay 0.3s
	.box2
		top -1px
		border 2px solid white
		height 15px
		width 15px
		z-index 666
		transition-delay 0.2s
	.check2
		top -7px
		left 6px
		width 9px
		height 21px
		border 2px solid verde
		border-top none
		border-left none
		opacity 0
		z-index 666
		transform rotate(180deg)
		transition-delay 0.3s

#check
	opacity 0
	&:checked ~ label
		.box
			opacity 0
			transform scale(0) rotate(-180deg)
		.check
			opacity 1
			transform scale(1) rotate(45deg)

#check2
	display none
	&:checked ~ label
		.box2
			opacity 0
			transform scale(0) rotate(-180deg)
		.check2
			opacity 1
			transform scale(1) rotate(45deg)

#remember
	display none
	&:checked ~ label
		.box2
			opacity 0
			transform scale(0) rotate(-180deg)
		.check2
			opacity 1
			transform scale(1) rotate(45deg)

.check-perfil
	margin 1rem

.reg-empresa
	margin .3rem 0
	color white
	text-align left

.res-br
	display none

.active
	background-color azul-hover
	
.contenido
	display block
	text-align center
	padding 2rem 0
	vertical-align top

.special-bg	
	background url(../img/bgg.png) center left

.top-section
	background-color azul-hover
	display block
	padding 2rem 0
	text-align center

.bloque-texto
	display inline-block
	color gris
	text-align center
	max-width 40rem
	padding 2rem 1rem
	vertical-align top
	font-size 1.3rem

.imagen-home
	display inline-block
	max-width 12rem
	height auto
	vertical-align top
	margin 0 2rem

.cont-container
	display inline-block
	padding 1rem 0

.white
	color white
	
.gris
	color gris
		
.gris-c
	background-color rgba(145, 145, 145, 0.1)


.bloque-informacion
	display inline-block
	vertical-align top
	text-align center
	max-width 25rem
	padding 1rem	
	&:hover
		.icon-holder
			background-color azul
			color white
			border 1px solid white

.icon-holder
	border-radius(50%)
	border 1px solid #e5e5e5
	width 6rem
	height 6rem
	display inline-block
	font-size 3rem
	color azul
	text-align center
	margin 1rem
	transition-duration 0.3s

.icono
	display inline-block
	vertical-align middle
	padding-top 1.3rem

.icono-title
	display inline-block
	color gris
	font-size 1.1rem
	
.icono-text
	@extend .icono-title

.footer-logo
	max-width 2rem
	display inline-block
	margin 0
	padding 0
	
.footer-text
	display inline-block
	padding 0
	margin 0
	padding-bottom .5rem

//perfil

.perfil-seccion
	display block
	text-align center
	position relative

.max-perfil
	max-width 100rem
	min-width 80rem
	margin-top 5rem
	padding 0
	
.contenedor-absoluto
	position absolute
	left 0
	top 0
	
.contenedor-relativo
	position relative
	left 0
	top 0

.perfil-estudiante
	background-color #e5e5e5

.info-container
	width 19rem
	color gris
	display inline-block
	text-align center
	padding 0
	margin-top .5rem
	border-radius(5px)
	position fixed

.img-container
	display block
	text-align center

.img-perfil
	width 10rem
	height 10rem
	border .2rem solid azul
	border-radius(50%)
	display inline-block
	

.info-section
	display block
	padding 1rem
	margin .3rem 0
	border-radius(3px)
	background white url(../img/bgg.png) center left
	background-size auto 300%
	box-shadow 0 3px 2px -2px #ccc
	&:nth-child(1)
		background azul-fuerte url(../img/bg.png) center left
		margin-top 0
	
.info-perfil
	margin 0
	padding 1rem 
	font-size .9rem
	display inline-block
	vertical-align middle
	
.nombre-perfil
	font-size 1.1rem
	padding-bottom .3rem

.correo-perfil
	padding-top 0

.boton-seleccion
	cursor pointer
	padding 2rem
	width 13rem
	height 13rem
	border-radius(50%)
	position relative
	text-align center
	border solid .5rem azul
	margin 7rem 0 0 5rem
	
#simbolo-upload
	color azul
	font-size 6rem
	font-weight bold
	position absolute
	top 30%
	left 40%
		
.upload
	right 0
	margin 0
	bottom 0
	padding 0
	opacity 0
	height 100%
	width 100%
	border-radius(50%)
	outline none
	cursor pointer
	position absolute

.display-none
	display none

#texto-imagen-s
	margin-left 5rem

.perfil
	background azul-fuerte url(../img/bg.png) center left
	background-size auto 100%

.contenido-perfil
	left 21rem
	position relative
	top 0
	text-align left
	
.relative
	position relative

.foto-error
	margin-left 5rem

.align-left
	text-align left

.align-center
	text-align center	
	
.compartir-form
	margin .5rem 0

.boton-compartir
	@extend .boton
	display inline-block
	width 7rem
	padding .7rem 0
	vertical-align top
	box-shadow 0 3px 2px -2px #ccc
	&:disabled
		opacity 0.5
		&:hover
			background-color azul

.textarea-compartir
	display inline-block
	border-radius(5px)
	padding .35rem 1.2rem
	border none
	height 1.7rem
	min-width 20rem
	color gray
	vertical-align top
	transition .3s
	box-shadow 0 3px 2px -2px #ccc
	&:focus
		outline none
		height 5rem
		
.publicaciones
	min-width 35rem
	max-width 54rem
	display inline-block

.publicacion
	display inline-block
	max-width 15rem
	min-width 15rem
	padding 1rem
	color gris
	background-color white
	vertical-align top
	margin .3rem .2rem
	box-shadow 0 3px 2px -2px #ccc
	border-radius(2px)

.publicacion-header
	display block
	margin-bottom .5rem
	text-align left

.info-publicacion
	display inline-block

.avatar-publicacion
	vertical-align top
	width 3.5rem
	height 3.5rem
	margin-left 0
	
.nombre-publicacion
	font-size 1rem

.email-publicacion
	font-size .8rem

.fecha-publicacion
	font-size .7rem	

.contenido-publicacion
	display block
	text-align left
	padding .5rem .3rem
	background-color #F5F5F5
	border .5px solid #ccc
	word-wrap break-word

.padding-terms
	padding-left 10px


//404

//novedades

.max-novedades
	max-width 100%
	margin-top 5rem
	padding 0
	display block
	text-align center
	
.contenido-novedades
	position relative
	top 0
	text-align center
	display inline-block
	width 70%

.publicaciones-n
	width 100%
	display inline-block
	text-align center
	
.publicacion-n
	display inline-block
	max-width 18rem
	min-width 18rem
	padding 1rem
	color gris
	background-color white
	vertical-align top
	margin .3rem .2rem
	box-shadow 0 3px 2px -2px #ccc
	border-radius(2px)

.sin-info
	font-size 1.2rem
	color gris-c
	font-weight bold

@media screen and (min-width 56.66rem)

	.login-form
		margin 1rem 0 0 0
		float right
		display inline-block

	.min
		min-width 60rem

	.max-perfil
		min-width 60rem
		
	.contenido-perfil
		max-width 38rem
		min-width 15rem
		left 20rem

@media screen and (max-width 62rem)

	.min
		min-width 56rem

	.max-perfil
		min-width 56rem
		
	.textarea-compartir
		min-width 24rem
	
	.publicaciones
		min-width 100%
		text-align center
		

@media screen and (min-width 85rem)

	.min
		min-width 80rem

	.max-perfil
		min-width 80rem

	.textarea-compartir
		min-width 42rem
	
	.publicaciones
		min-width 60rem	
	
	.contenido-perfil
		min-width 57rem

@media screen and (max-width 56.6rem)

	.max-perfil
		max-width 100%
		min-width 100%
		width 100%
		margin-top 4rem

	.contenedor-absoluto
		position static
		width 90%
		display inline-block
	
	.contenedor-relativo
		position static
		width 100%
		display inline-block

	.info-container
		position static
		width 100%
		text-align left
		vertical-align top
		background white url(../img/bgg.png) center left

	.contenido-perfil
		position static
		max-width 90%
		min-width 90%
		text-align center
		display inline-block
		left 0

	.publicacion
		min-width 49%
		max-width 49%
		box-sizing border-box
		
	.textarea-compartir
		width 74%
	
	.boton-compartir
		width 19%

	.logo
		margin 0 0 0 3rem

	.info-section
		vertical-align top
		margin 0
		padding 0
		box-shadow none
		background none
		&:nth-child(1)
			display inline-block
			box-shadow none			
			background none
			padding 1rem
		
	.info-perfil
		vertical-align center

	.img-perfil
		width 5rem
		height 5rem		
		
	.login-form
		display block
		text-align center
		background-color azul-hover
		padding 1rem 0

	.form-registro
		margin 0

	.texto-inicio
		margin 1rem 0

	.max-container
		padding 1rem 0

	.input-login
		margin 0 .3rem

	.min
		min-width 100%

	.info
		display inline-block
		position absolute
		right 0
		top 0
		z-index 2
		margin .7rem 0
		margin-right 3rem

	.boton-login
		display inline-block
		position absolute
		right 0
		top 0
		z-index 2
		margin .7rem 0
		margin-right 3rem

	.login-form
		display none


@media screen and (max-width 45rem)

	.publicacion
		min-width 100%
		max-width 100%
		margin .3rem 0
	
	.textarea-compartir
		width 100%
		height 4rem
		margin-bottom .5rem
		max-width 100%
		box-sizing border-box
		
	.boton-compartir
		width 100%
	
@media screen and (max-width 33rem)


	.titulo
		font-size 1.5rem
		vertical-align top
		margin-top .8rem
		display none		

	.logo
		margin .5rem 0 0 1rem

	.texto-inicio
		max-width 22rem
		font-size 1.3rem
		padding 0
		margin 0

	.res-br
		display block

	.input-login
		margin .5rem 0
		width 15rem
		height 1.7rem
		padding .35rem 1.2rem

	.boton
		margin .5rem 0 00
		width 17rem
		padding .6rem 1.2rem

@media screen and (max-width 23rem)

	.texto-inicio
		max-width 18rem

	.info
		margin-right 1rem

	.boton-login
		margin-right 1rem
		
