/*Montserrat*/

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular-webfont.eot');
	src: url('../fonts/Montserrat/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat/Montserrat-Regular-webfont.woff') format('woff'),
		url('../fonts/Montserrat/Montserrat-Regular-webfont.ttf') format('truetype'),
		url('../fonts/Montserrat/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Bold-webfont.eot');
	src: url('../fonts/Montserrat/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat/Montserrat-Bold-webfont.woff') format('woff'),
		url('../fonts/Montserrat/Montserrat-Bold-webfont.ttf') format('truetype'),
		url('../fonts/Montserrat/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/*Lato*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

// Policontacto

@font-face {
	font-family: 'policontacto';
	src:url('../fonts/Policontacto/policontacto.eot?-b2glrq');
	src:url('../fonts/Policontacto/policontacto.eot?#iefix-b2glrq') format('embedded-opentype'),
		url('../fonts/Policontacto/policontacto.woff?-b2glrq') format('woff'),
		url('../fonts/Policontacto/policontacto.ttf?-b2glrq') format('truetype'),
		url('../fonts/Policontacto/policontacto.svg?-b2glrq#policontacto') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'policontacto';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bolt:before {
	content: "\e600";
}

.icon-home:before {
	content: "\e902";
}

.icon-desktop:before {
	content: "\e956";
}

.icon-mobile:before {
	content: "\e959";
}

.icon-tablet:before {
	content: "\e95a";
}

.icon-web:before {
	content: "\e9c9";
}

.icon-code:before {
	content: "\ea80";
}

.icon-terminal:before {
	content: "\ea81";
}

